.cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.occupied {
  background-color: green;
}

.empty {
  background-color: transparent;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.rows {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
